#imgBackground {
    background: url(/src/banner.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  
  #layApk {
    top: 15vh;
    width: 125vh;
    position: relative;
    right: 10rem;
  }
  
  div #mainContent {
    display: flex;
    align-items: center;
  }
  
  #sectionContent {
    padding-left: 1rem;
    color: white;
    position: relative;
    right: 10rem;
    display: inline-block;
    top: 11vh;
  }
  
  /* Dropdown Button */
  .dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: #ddd;
  }
  
  /* Dropdown button on hover & focus */
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    float: right;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:0 
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(37, 37, 37);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}